@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500&family=Fredoka+One&family=Josefin+Sans:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

#first_section {
    height: 45em;
    background-image: linear-gradient(#2F1275, #10318D, #0093CD);
    /* z-index: 1; */
}

h1 {
    font-family: 'Fredoka One', cursive;
}

#navbar_ul {
    font-family: 'Josefin Sans';
}

#navbar_ul li a{
    text-decoration: none;
    color: white;
}

