@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500&family=Fredoka+One&family=Josefin+Sans:wght@300;500&display=swap');

#img_figure {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}

#hover_id {
    height: 70px;
    width: 70px;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

#hover_id:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    filter: saturate(2);
    -webkit-filter: saturate(2);
}

i {
    font-size: 14px;
    margin-left: 2px;
}
