@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&family=Jura:wght@300;400;500&family=Saira+Condensed:wght@200;400&family=Unica+One&display=swap');

* {
    color: ghostwhite;
}

body {
    background-color: #0A0809;
}

header {
    text-transform: uppercase;
}

.dropdown {
    font-family: 'Jura', 'Bai Jamjuree';
    font-weight: bold;
}

.dropdown ul > li > a {
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.dropdown > ul > li > a::before {
    content: '';
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 3px solid lightgreen;
    transition: .5s;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}

.dropdown ul > li > a:hover::before {
    display: block;
    width: 70%;
}


.dropdown ul>li {
    list-style: none;
}

.dropdown>ul {
    display: flex;
}

.dropdown>ul>li {
    margin-left: 1%;
}

.first_dropdown {
    background-color: lightgreen;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px;
    transform: translate(0px, 20px);
    -webkit-transform: translate(0px, 20px);
    -moz-transform: translate(0px, 20px);
    -ms-transform: translate(0px, 20px);
    -o-transform: translate(0px, 20px);
    display: none;
    transition: 1s;
}

.customers > ul > li > a {
    color: #0A0809;
}

.first_dropdown > li {
    border-bottom: 2px solid black;
    padding: 3px;
}

.first:hover .first_dropdown{
    display: block;
}


