@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&family=Jura:wght@300;400;500&family=Saira+Condensed:wght@200;400&family=Unica+One&display=swap');

* {
    color: ghostwhite;
    font-family: 'Jura', 'Bai Jamjuree';
}

::selection {
    background-color: lightgreen;
    color: black;
}

body {
    background-color: #0A0809;
    margin-left: 20%;
    margin-right: 20%;
}

header {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    font-weight: bold;
}

.dropdown ul>li>a {
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.dropdown>ul>li>a::before {
    content: '';
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid lightgreen;
    transition: .5s;
}

.dropdown ul>li>a:hover::before {
    display: block;
    width: 70%;
}


ul>li {
    list-style: none;
}

ul {
    display: flex;
}

.dropdown>ul>li {
    margin-left: 5%;
}

.first_dropdown {
    width: 80px;
    background-color: lightgreen;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px;
    transform: translate(0px, 20px);
    -webkit-transform: translate(0px, 20px);
    -moz-transform: translate(0px, 20px);
    -ms-transform: translate(0px, 20px);
    -o-transform: translate(0px, 20px);
    display: none;
    transition: 1s;
    position: fixed;
}

.customers>ul>li>a {
    color: #0A0809;
}

.first_dropdown>li {
    border-bottom: 2px solid black;
    padding: 3px;
}

.first:hover .first_dropdown {
    display: block;
}

.icons>ul>li {
    margin-left: 15px;
}

button {
    background-color: #0A0809;
    cursor: pointer;
    padding: 0px 40px;
    border: 2px solid lightgreen;
    height: 40px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    font-family: 'Bai Jamjuree';
    font-weight: bolder;
}

button:hover {
    background-color: lightgreen;
    color: black;
    box-shadow: 4px 5px 5px 2px rgba(144, 238, 144, 0.712);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.social_links li {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.social_links li:hover {
    background-color: lightgreen;
}

.social_links li:hover a>i {
    color: black;
}

/*! Second Section  */

.section-two {
    display: flex;
}

.section-two-div-one {
    width: 50%;
}

.section-two-div-one h1 {
    font-size: 35px;
}

.section-two-div-one>p {
    letter-spacing: 10px;
    color: lightgreen;
    font-weight: bold;
}

.section-two-div-two {
    width: 30%;
}

.section-three {
    display: flex;
    justify-content: center;
}

.section-three>img {
    width: 150px;
    margin-left: 10%;
}

/*! Fourth Section  */

.fourth-section {
    /* width: 60%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fourth-section-first-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linear-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid white; */
    width: 50%;
}

.linear-images>img:nth-child(1) {
    width: 80%;
}

.linear-images>img:nth-child(2),
.linear-images>img:nth-child(4) {
    height: 80px;
    width: 80%;
}

.linear-images>img:nth-child(3),
.linear-images>img:nth-child(5) {
    width: 80%;
}

.fourth-section-second-div {
    /* border: 2px solid white; */
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.fourth-section-third-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    /* border: 2px solid white; */
}

.fourth-section-third-div h4 {
    font-size: 25px;
}

.fourth-section-third-div p {
    font-size: 20px;
    font-family: 'Saira Condensed';
}

