@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300;400&family=Blinker:wght@100;200;300;400&family=Expletus+Sans:wght@400;500&family=Gemunu+Libre:wght@300;500&family=Geo&family=Major+Mono+Display&family=Monofett&family=MuseoModerno:wght@200;400&family=Nova+Square&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Sirin+Stencil&family=Snippet&family=Squada+One&family=Tomorrow:wght@200;300&family=Wellfleet&display=swap&family=Poppins:ital,wght@0,300;0,400;1,300&display=swap&family=Baloo+Da+2&family=Roboto:wght@300&display=swap');

::selection {
    background-color: gainsboro;
    color: lightcoral;
}

* {
    margin: 0;
    padding: 0;
}

body {}

nav#navbar {
    font-family: 'Sirin Stencil', cursive;
    font-weight: bolder;
}


#demotext {
    font-family: 'MuseoModerno';
    color: #FFFFFF;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    color: #030303;

}

#shadows {
    margin: auto;
    width: fit-content;
    position: relative;
    text-transform: uppercase;
    color: lightgray;
    letter-spacing: -.18em;
    font-family: 'MuseoModerno';
    text-transform: uppercase;
    font-size: 50px;
    transition: all 0.25s ease-out;
}

#shadows:hover {
    text-shadow: -16px 6px 15px lightgray;
    border-bottom: 0;
}